set timeout=5
set default=0

# Try to enable serial output for QEMU
insmod serial
serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial

menuentry "Plan 0" {
    multiboot /boot/kernel
    boot
}
